@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: #171717;
  --primary: oklch(0.5771 0.2151 27.32);
  --secondary: oklch(79.2% 0.209 151.711);
  --yellow: oklch(90.5% 0.182 98.111);
  --graybackground: oklch(0.4891 0 0);
  --whitetransparent: oklch(1 0 0 / 90%);
  --logo: oklch(0.95 0.01 0 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-yellow: var(--yellow);
  --color-graybackground: var(--graybackground);
  --color-whitetransparent: var(--whitetransparent);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}

#next-logo {
  display: none !important;
}